@import "../../node_modules/uikit/src/less/uikit.theme.less";

@base-color-a: #52a940;
@base-color-b: #912fa5;
@base-font-color: darken(@base-color-b, 20%);

@search-border-color: lighten(gray, 40%);
@search-border-color-focus: lighten(@base-color-b, 5%);
@search-border-radius: 10px;
@search-width: 250px;
@search-height: 25px;
@search-font-size: 0.875rem;

@navbar-dropdown-margin: -15px;

@sidebar-left-width: 240px;

.hook-navbar-container() {
    background-color: lighten(@base-color-a, 30%);
    border-bottom: 1px @global-border solid; 
}

.ho-navbar {
    background-color: lighten(@base-color-a, 30%);
}

.ho-menu-colors {
    color: darken(@base-color-b, 20%);
    &:hover {
        color: @base-color-b;
    }
}

.hook-navbar-misc() {
    .uk-navbar-left {
        margin: 10px 0 10px 0;
    }

    .uk-navbar-nav > li > a {
        .ho-menu-colors();
    }

    /*
    .uk-navbar-nav > li > a.ho-donate {
        margin-left: 2px;
        color: saturate(@base-color-a, 40%);
        &:hover {
            color: saturate(@base-color-a, 80%);
            font-weight: bold;
            margin-left: 0;
        }
    }
    */

    .uk-navbar-nav > li > a.uk-open {
        color: @base-color-b;
    }

    .uk-navbar-dropdown-nav > li > a {
        .ho-menu-colors();
    }

    .uk-search-navbar {
        width: @search-width;
        .uk-search-input {
            border: 1px solid @search-border-color;
            border-radius: @search-border-radius;
            height: @search-height;
            font-size: @search-font-size;
            background-color: white;
        }
        input:focus {
            border: 1px solid @search-border-color-focus;
            border-radius: @search-border-radius;
        }
    }
}

.ho-logo-image {
    min-height: 10px;
    height: 30px;
    padding: 0 0 0 0;
}

.ho-logo-text {
    .uk-text-bold();
    font-family: Comfortaa;
    color: darken(@base-color-b, 20%);
    margin: 3px 0 0 10px;
}

/*
.ho-donate {
    font-weight: normal;
}
*/

.ho-scaled-search-icon {
    transform: scale(0.7, 0.7);
}

.ho-sidebar-left {
    position: fixed;
    top: @navbar-nav-item-height;
    bottom: 0;
    box-sizing: border-box;
    width: @sidebar-left-width !important;
    padding: 40px 40px 60px 40px;
    border-right: 1px @global-border solid;
    overflow: auto;
}

.ho-dropdown-img {
    margin-right: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.7;
}

.ho-dropdown-icon {
    .ho-dropdown-img();
    margin-right: 10px;
    opacity: 0.5;
}

.ho-h4 {
    color: @base-font-color;
}